* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

.container {
        position: relative;
        width: 1140px;
        margin: 0 auto;
         
}

.promo {
    height: 800px;
    background: url('../css/img/main_bg.jpg') center center/cover no-repeat;
    padding: 38px 0 61px 0; 
}
    
    
